<div class="d-flex flex-column h-100">
    <header class="row p-3 bg-dark text-white">
        <div class="col-md-6">
            <h1 class="text-white">
              Baby Factory!
            </h1>
        </div>
        <div class="col-md-6 text-right">
            <img [src]="captainImage" (click)="toggleCaptain()"> 
        </div>
    </header>
    <div class="container-fluid flex-grow-1 d-flex">
        <div class="row flex-fill flex-column flex-sm-row">
            <div class="col-sm-3 col-md-2 sidebar flex-shrink-1 pt-3 bg-secondary text-center">
                <ul class="nav flex-sm-column text-white">
                    <li class="mt-2 fa-underline"><fa-icon [icon]="faFolderPlusIcon" routerLink="/taskforce/new" class="clickable fa-2x"></fa-icon></li>
                    <li class="mt-3"><fa-icon [icon]="faSearch" class="clickable fa-2x"></fa-icon></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 flex-grow-1 py-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
