@import '~bootstrap/dist/css/bootstrap.min.css';

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.clickable{
  cursor: pointer;
}

a {
  color:white;
  text-decoration: none; /* no underline */
}