
<h2 class="text-muted">Create a new TaskForce!</h2>
<div>
  <label class="clickable" (click)="addWorker()">
    <fa-icon [icon]="faUserPlusIcon" class="fa-2x"></fa-icon>
    Add a worker
  </label>
</div>
<babyFactory-display-errors [errorCases]="errorCases"></babyFactory-display-errors>
<div *ngIf="workers.length">
  <hr class="mt-2 mb-3 pb-3"/>
  <div *ngFor="let worker of workers">
    <div class="row mb-3">
      <div class="col-12">
        <div class="row">
          <div class="col-8 border-bottom">
            <div class="row">
              <div class="col-md-4">
                <h3 class="text-muted"> {{ worker.Person.FirstName }} {{ worker.Person.LastName }} </h3>
                <div class="row">
                  <div class="col-md-6">
                    <label class="clickable" (click)="modifyWorker(worker.Person.Nam)">
                        <fa-icon [icon]="faUserEditIcon" class="fa-x"></fa-icon> Modify worker
                    </label>
                  </div>
                  <div class="col-md-6 border-left" >
                    <label class="clickable" (click)="removeWorker(worker.Person.Nam)">
                        <fa-icon [icon]="faUserMinusIcon" class="fa-x"></fa-icon> Remove worker
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3 font-weight-bold">
              <div class="col-md-4"> {{ worker.Person.Nam }} </div>
              <div class="col-md-4">{{ worker.Person.Sex }} </div>
              <div class="col-md-4"> {{ worker.Person.Birthday | date: "dd/MM/yyyy" }} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!errorCases || !errorCases.length"
       class="row mt-3">
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="saveTaskForce()">
        Save the TaskForce!
      </button>
    </div>
  </div>
</div>
