<div class="card border-0 text-danger font-weight-bold" *ngIf="errorCases?.length">
    <div class="card-body">
        <div *ngFor="let error of getErrorsToDisplay()">
            <label>
                {{error.toString()}}
            </label>
        </div>
    </div>
</div>
