<div class="modal-header">
  <h4 class="modal-title text-muted">Add a new worker</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <babyFactory-display-errors [errorCases]="errorCases"></babyFactory-display-errors>
    <div *ngIf="!displayWorkerForm">
      <form [formGroup]="namForm!">
        <div class="row mt-3">
          <input
            type="text"
            class="form-control"
            placeholder="Nam..."
            formControlName="nam"
            required
          />
        </div>
        <div class="row mt-3">
          <button class="btn btn-primary" (click)="searchWorker()">
            Rechercher
          </button>
        </div>
        <div>
          <div *ngIf="namForm!.controls.nam.invalid && (namForm!.controls.nam.dirty || namForm!.controls.nam.touched)"
                class="alert alert-danger">
  
            <div *ngIf="namForm!.controls.nam.errors?.obligatoryWord">
              Doit contenir Hello!
            </div>
            <div *ngIf="namForm!.controls.nam.errors?.restrictedWord">
              Ne peut contenir Foo!
            </div>
          </div>
        </div>
      </form>
      
    </div>
    <div *ngIf="displayWorkerForm">
        <div class="row">
            <div class="col-12 font-weight-bold">
                {{ person!.Nam }}
            </div>
        </div>
        <div class="row font-weight-bold">
            <div class="col-md-3">
                {{ person!.LastName }}
            </div>
            <div class="col-md-3">
                {{ person!.FirstName }}
            </div>
            <div class="col-md-3">
                {{ person!.Sex }}
            </div>
            <div class="col-md-3">
                {{ person!.Birthday | date: "dd/MM/yyyy" }}
            </div>
        </div>
        <hr class="mt-2 mb-3 pb-3"/>
        <form [formGroup]="workerForm!">
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" id="wasDiagnosedWitInfertility" class="form-check-input" formControlName="wasDiagnosedWitInfertility" />
                    <label class="form-check-label" for="wasDiagnosedWitInfertility"> A recu diagnostique d'infertilité </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="wasDiagnosedWithInabilityToReproduce" formControlName="wasDiagnosedWithInabilityToReproduce" />
                    <label class="form-check-label" for="wasDiagnosedWithInabilityToReproduce"> A recu diagnostique d'incpacité à se reproduire </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="hasUndergoneSterilization" formControlName="hasUndergoneSterilization" />
                    <label class="form-check-label" for="hasUndergoneSterilization"> A subit une stérilisation </label>
                </div>
            </div>
            <div class="form-group ml-3" *ngIf="workerForm!.get('hasUndergoneSterilization')!.value">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="sterilizationWasVoluntary" formControlName="sterilizationWasVoluntary" />
                    <label class="form-check-label" for="sterilizationWasVoluntary"> La stérilisation était-elle volontaire? </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="hasParentalCapacity" formControlName="hasParentalCapacity" />
                    <label class="form-check-label" for="hasParentalCapacity"> Capacité parentale conforme </label>
                </div>
            </div>
            <button class="btn btn-primary mt-3" (click)="addNewMember()">Submit</button>
        </form>
    </div>
  </div>
</div>
